body {
	font-family: Monospace;
	background-color: #202020;
	margin: 0px;
	overflow: hidden;
}

h2 {
	color: #ccc;
	text-align: center;
}

#controls {
	position: absolute;
	top: 20px;
	left: 20px;

	width: 200px;
	padding: 10px;
	/*border: 1px solid #ccc;*/
	z-index: 100;
}

.times, .sleep-states {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.time, .state {
	margin: 5px;
	padding: 10px;
	border: 1px solid #ccc;
	width: 34%;
}

.day, .state, .time {
	background-color: rgba(200,200,200, .3);
	border-bottom:1px solid rgba(200,200,200,.3);
	text-align: center;
}

.day {
	position: relative;
	display:block;

	margin: 5px;
	padding: 2px;
}

.day:hover, .state:hover, .time:hover {
	background-color: rgba(200,200,200, .6);
	cursor:pointer;
}

