body {
	font-family: Monospace;
	/*background-color: #202020;*/
	background-color: #f0f0f0;
	margin: 0px;
	overflow: hidden;
}

h2 {
	/*color: #ccc;*/
	text-align: center;
}

.stats {
	position: absolute;
	right: 20px;
	top: 20px;

	display: block;

	/*font-family: helvetica;*/
/*	color: #aaa;*/

	width: 300px;
}

.stats--date {
	position: relative;
	font-weight: 500;
	font-size: 40px;
	margin: 10px 5px;
}

.stats--container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.stats--stat {
	padding: 5px;
	margin: 5px;
	text-align: left;
	font-weight: bold;
}

.stats--value {
	padding: 5px;
	margin: 5px;
	text-align: left;
}

#controls {
	position: absolute;
	top: 20px;
	left: 10px;

	width: 200px;
	padding: 10px;
	/*border: 1px solid #ccc;*/
	z-index: 100;
}

.times, .sleep-states, .views {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.time, .state, .view {
	margin: 5px;
	padding: 10px;
	border: 1px solid #ccc;
	width: 34%;
}

.day, .state, .time, .view {
	background-color: rgba(200,200,200, .3);
	border-bottom:1px solid rgba(200,200,200,.3);
	text-align: center;
}

.day {
	position: relative;
	display:block;
	margin: 5px;
	padding: 2px;
}

.day:hover, .state:hover, .time:hover, .view:hover {
	background-color: rgba(200,200,200, .6);
	cursor:pointer;
}


/* Slider */

#slider:hover {
    top: -80px;
    transition: all .25s;
}

#slider {
  position: relative;
  top: -80px;
  z-index: 200;
  width: 100%;
  margin: 0px auto;
  background-color: rgba(255,255,255,.4);
  transition: all .25s;
}

.axis {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  stroke-width: 1px;
}

.axis .minor{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis .halo {
  fill: none;
  /*stroke: gray;
  stroke-width: 1px;
  stroke-linecap: round;*/
}

.slider .handle path {
  stroke: gray;
  stroke-width: 1px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  text-align: center;
  font-size: 18px;
}

.slider .current-date, .slider .handle-path{
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.slider .current-date:active, .slider .handle-path:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.slider .background {
  pointer-events: none;
}

.current-date {
  text-anchor: middle;
}

.current-date text {
  font-size: 12;
}

.hover text {
  opacity: 0;
}

.hover line {
  opacity: .1;
  stroke-width:  2;
}
