
body {
	font-family: Helvetica, Arial, sans-serif;
	/*background-color: #202020;*/
	background-color: #f0f0f0;
	margin: 0px;
	overflow: hidden;
}

#title {
  position: absolute;
  top: 5px;
  left: 20px;
  margin: 10px 0px;
  font-family: monospace;
}

h2, h3, h4 {
	/*color: #ccc;
	text-align: center;*/
    margin: 5px;
    font-weight: normal;
    font-size: 13px;
}

.stats {
	position: absolute;
	right: 20px;
	top: 0px;
	width: 320px;
    overflow-x: hidden;
    height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats--container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.stats--date {
	position: absolute;
    top: 5px;
    right: 20px;
    font-family: monospace;
    font-weight: bold;
    margin: 10px 0px;
}

.stats--stat {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats--name, .stats--value {
	padding: 0px;
	margin: 5px 0px;
    font-size: 16px;
	text-align: left;
}

.stats--name {
	font-weight: bold;
    font-size: 12px;
    margin: 5px 0px 0px 0px;
}

.stats--sparkline {
    align-self: center;
    opacity: 1;
    transition-delay: 0s, 2s;
    transition: opacity 250ms linear;
}

.stats--stat-container {
    width: 100px;
}

/* experimental styles */
.stats {
    width: inherit;
    /*
    box-shadow: 0px 1px 7px grey;
    padding: 10px
    */
}

.stats--stats-container {
  background-color: rgba(240,240,240, .9);
  border-left: 1px solid #ccc;
  padding: 5px;
  float: right;
  max-width: 270px;
  transition: all 250ms linear;
}

.stats--name {
    font-weight: normal;
    font-size: 10px;
}

.stats--date {
    margin: 10px;
}

.stats--stat {
    font-size: 12px;
    margin: 10px;
    justify-content: flex-end;
}

.stats--value {
    font-size: 14px;
}

.stats--sparkline {
    align-self: flex-end;
}

.hidden {
  opacity: 0;
  width: 0;
  transition-delay: 250ms linear;
  transition: width 250ms linear;
}

.shown {
  opacity: 1;
  width: 150px;
  transition: width 250ms linear;
  transition-delay: 250ms;
  transition: opacity 250ms ease-in;
}

/* end experimental */

#controls {
    display: flex;
    flex-direction: column;
	position: absolute;
    top: 40px;
	width: 235px;
    margin: 20px;
	padding: 10px;
	border-right: 1px solid #ccc;
	z-index: 100;
    opacity: .05;
    transition: all .25s linear;
    background-color: rgba(240,240,240, .9);
}

#controls:hover {
  opacity: 1;
}

.times, .sleep-states, .views {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
    margin-bottom: 5px;
}

.time, .state, .view {
	margin: 5px;
	padding: 5px;
	border: 1px solid #ccc;
	width: 55px;
    font-size: 12px;
    border-radius: 2px;
    font-size: 10px;
}

.state {
    width: 36px;
}

.day, .state, .time, .view {
	background-color: rgba(200,200,200, .3);
	border-bottom:1px solid rgba(200,200,200,.3);
	text-align: center;
}

.day {
	position: relative;
	display:block;
	margin: 5px;
	padding: 2px;
}

.day:hover, .state:hover, .time:hover, .view:hover {
	background-color: rgba(200,200,200, .6);
	cursor:pointer;
}


/* Slider */

#slider {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  z-index: 200;
  width: 100%;
  margin: 0px auto;
  opacity: .1;
  transition: all .25s;
}

#slider:hover {
    opacity: 1;
}

.axis {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  stroke-width: 1px;
}

.axis .minor {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis .halo {
  fill: none;
  /*stroke: gray;
  stroke-width: 1px;
  stroke-linecap: round;*/
}

.axis text {
  font-size: 13px;
  stroke-width: 0px;
  fill: #333;
}

.slider .handle path {
  stroke: #333;
  stroke-width: 1px;
  stroke-linecap: round;
  pointer-events: none;
}

.slider .handle text {
  text-align: center;
  font-size: 13px;
  stroke: #333;
  stroke-width: 0px;
  shape-rendering: crispEdges;
}

.slider .current-date, .slider .handle-path{
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.slider .current-date:active, .slider .handle-path:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.slider .background {
  pointer-events: none;
}

.current-date {
  text-anchor: middle;
}

.current-date text {
  stroke: #333;
  font-size: 12;
}

.hover text {
  opacity: 0;
}

.hover line {
  opacity: .1;
  stroke-width:  2;
}
